# NRSA Work

## Importing Data

Writing in an explanation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from urllib3 import request
import requests
from pandas import json_normalize 
import json
import geopandas as gpd
import plotly.express as px

Importing libraries

In [2]:
#Census_acs5_api pulls tables from the American Community Survey 5 year basedon year input
#B01003_001E is total population
#B17001_001E is total poverty status
#NAME is State, County, Tract name of geography
#B25081_001E Housing with/without mortgage
#B23001_001E Employment Status
#B25002_003E Vacancy Rate
#B25081_002E Housing with Mortgage
#B25081_008E Housing without mortgage
#B25008_002E Owner Occupied
#B25008_003E Renter Occupied

#Base url for api
host = 'https://api.census.gov/data'
#Dataset we are drawing to data from acs/acs5 is American Community Survey 5-year acs/acs1 is ACS 1-year
dataset = 'acs/acs5'
#Initial year is the first year/only year of data that you want
initial_year ='2019'
#Base_url joins the above varaibles together with / like a url
base_url = '/'.join([host,initial_year,dataset])

#get_vars specifies the numeric table ids of the data you want
#NAME is State, County, Tract name of geography
#B01003_001E is total population
#B17001_002E is number of people below poverty line
#B19013_001E is the median income of a tract
#B25002_003E is number of total vacant properties
#B25081_002E housing with mortgage
#B25081_008E housing without mortgage
#B25008_002E 
#S0101_C01_033E median age
get_vars = ['NAME','B17001_002E','B01003_001E','B19013_001E', "B25002_003E", 'B25081_002E','B25081_008E',
            'B25008_002E','B25008_003E']

#Predicates indicate the geography you want to search by
predicates = {}
predicates['get'] = ','.join(get_vars)
#For predicate indicates which geography you want
predicates['for'] = 'tract:*'
#In predicates narrow down the search
predicates['in'] = ['state:20','county:209']


#Response requests the data from the url outlined above using the predicate dictionary as its parameters
response = requests.get(base_url,params = predicates)

#Below prints the url address created and the status code of the response. A successful response is 200.
print("API URL")
print(response.url)
print('\n')
print("Status Code")
print(response.status_code)

#Creating a pandas dataframe based in the initial year of data
col_names = ['Name','Poverty Population '+ initial_year,
             'Population ' + initial_year,'Median Income ' + initial_year,'Number of Vacants ' + initial_year,
             'Housing with Mortgage ' + initial_year, 'Housing without Mortgage ' + initial_year, 
             'Owner Occupied ' + initial_year, 'Renter Occupied ' + initial_year,
             'State','County','Tract']
tract_nrsa_data_initial = pd.DataFrame(data = response.json()[1:], columns = col_names)
#Reorder the columns to make it more readable
tract_nrsa_data = tract_nrsa_data_initial [["Name",'State','County','Tract','Poverty Population '+ initial_year,
             'Population ' + initial_year,'Median Income ' + initial_year,'Number of Vacants ' + initial_year,
             'Housing with Mortgage ' + initial_year, 'Housing without Mortgage ' + initial_year, 
             'Owner Occupied ' + initial_year, 'Renter Occupied ' + initial_year]]

API URL
https://api.census.gov/data/2019/acs/acs5?get=NAME%2CB17001_002E%2CB01003_001E%2CB19013_001E%2CB25002_003E%2CB25081_002E%2CB25081_008E%2CB25008_002E%2CB25008_003E&for=tract%3A%2A&in=state%3A20&in=county%3A209


Status Code
200

In [27]:
#S0101_C01_032E median age
#https://api.census.gov/data/2019/acs/acs5/subject/variables/S0101_C01_032E.json

#Base url for api
host = 'https://api.census.gov/data'
#Dataset we are drawing to data from acs/acs5 is American Community Survey 5-year acs/acs1 is ACS 1-year
dataset = 'acs/acs5/subject'
#Initial year is the first year/only year of data that you want
initial_year ='2019'
#Base_url joins the above varaibles together with / like a url
base_url = '/'.join([host,initial_year,dataset])

In [ ]:
#get_vars specifies the numeric table ids of the data you want
#NAME is State, County, Tract name of geography
#B01003_001E is total population
#B17001_002E is number of people below poverty line
#B19013_001E is the median income of a tract
#B25002_003E is number of total vacant properties
#B25081_002E housing with mortgage
#B25081_008E housing without mortgage
#B25008_002E 
#S0101_C01_033E median age
get_vars = ['NAME','S0101_C01_032E']

#Predicates indicate the geography you want to search by
predicates = {}
predicates['get'] = ','.join(get_vars)
#For predicate indicates which geography you want
predicates['for'] = 'tract:*'
#In predicates narrow down the search
predicates['in'] = ['state:20','county:209']


#Response requests the data from the url outlined above using the predicate dictionary as its parameters
response = requests.get(base_url,params = predicates)

#Below prints the url address created and the status code of the response. A successful response is 200.
print("API URL")
print(response.url)
print('\n')
print("Status Code")
print(response.status_code)

#Creating a pandas dataframe based in the initial year of data
col_names = ['Name','Median Age '+ initial_year,'State','County','Tract']
tract_nrsa_data_age = pd.DataFrame(data = response.json()[1:], columns = col_names)
#Reorder the columns to make it more readable
#tract_nrsa_data_age = tract_nrsa_data_age [["Name",'State','County','Tract','Median Age '+ initial_year]]

In [4]:
tract_nrsa_data_initial.head()

,Name,Poverty Population 2019,Population 2019,Median Income 2019,Number of Vacants 2019,Housing with Mortgage 2019,Housing without Mortgage 2019,Owner Occupied 2019,Renter Occupied 2019,State,County,Tract
0,"Census Tract 421, Wyandotte County, Kansas",940,3175,43958,75,234,226,1803,1372,20,209,042100
1,"Census Tract 424, Wyandotte County, Kansas",738,2395,35000,139,120,225,1076,1309,20,209,042400
2,"Census Tract 437, Wyandotte County, Kansas",344,2504,55521,41,450,218,1817,687,20,209,043700
3,"Census Tract 438.04, Wyandotte County, Kansas",0,0,-666666666,0,0,0,0,0,20,209,043804
4,"Census Tract 441.04, Wyandotte County, Kansas",455,3179,36374,120,298,34,847,2313,20,209,044104

In [5]:
tract_nrsa_data_initial.shape

(70, 12)

In [26]:
tract_nrsa_data_age.head(10)

,Name,Median Age 2019,State,County,Tract
0,"Census Tract 421, Wyandotte County, Kansas",28.2,20,209,042100
1,"Census Tract 424, Wyandotte County, Kansas",33.6,20,209,042400
2,"Census Tract 437, Wyandotte County, Kansas",34.8,20,209,043700
3,"Census Tract 438.04, Wyandotte County, Kansas",-666666666.0,20,209,043804
4,"Census Tract 441.04, Wyandotte County, Kansas",33.7,20,209,044104
5,"Census Tract 443.02, Wyandotte County, Kansas",42.4,20,209,044302
6,"Census Tract 400.01, Wyandotte County, Kansas",-666666666.0,20,209,040001
7,"Census Tract 403, Wyandotte County, Kansas",35.2,20,209,040300
8,"Census Tract 404, Wyandotte County, Kansas",35.2,20,209,040400
9,"Census Tract 440.01, Wyandotte County, Kansas",33.9,20,209,044001

In [7]:
tracts_data_df = tract_nrsa_data_initial.merge(tract_nrsa_data_age, on=['Name','State','County','Tract'])

In [8]:
tracts_data_df

,Name,Poverty Population 2019,Population 2019,Median Income 2019,Number of Vacants 2019,Housing with Mortgage 2019,Housing without Mortgage 2019,Owner Occupied 2019,Renter Occupied 2019,State,County,Tract,Median Age 2019
0,"Census Tract 421, Wyandotte County, Kansas",940,3175,43958,75,234,226,1803,1372,20,209,042100,28.2
1,"Census Tract 424, Wyandotte County, Kansas",738,2395,35000,139,120,225,1076,1309,20,209,042400,33.6
2,"Census Tract 437, Wyandotte County, Kansas",344,2504,55521,41,450,218,1817,687,20,209,043700,34.8
3,"Census Tract 438.04, Wyandotte County, Kansas",0,0,-666666666,0,0,0,0,0,20,209,043804,-666666666.0
4,"Census Tract 441.04, Wyandotte County, Kansas",455,3179,36374,120,298,34,847,2313,20,209,044104,33.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,"Census Tract 447.03, Wyandotte County, Kansas",146,2923,72246,33,543,153,2041,882,20,209,044703,33.0
66,"Census Tract 448.03, Wyandotte County, Kansas",306,6147,81282,27,1440,386,5056,1091,20,209,044803,38.5
67,"Census Tract 438.03, Wyandotte County, Kansas",331,2962,60688,34,486,213,2028,925,20,209,043803,36.1
68,"Census Tract 440.03, Wyandotte County, Kansas",622,2774,39985,138,291,522,1972,802,20,209,044003,38.2
69,"Census Tract 446.01, Wyandotte County, Kansas",168,2795,61295,83,528,255,1862,775,20,209,044601,38.2

In [9]:
#Create subet of data with all tracts included
#tracts_data_df = tract_nrsa_data_initial[['Name','State','County','Tract']].copy()

In [10]:
#tracts_data_df.head()
#tracts_data_df.shape

In [11]:
#Drop tracts with no people living in them
#no_data = tract_nrsa_data[ tract_nrsa_data_initial['Population 2019'] == '0' ].index
#tract_nrsa_data_initial.drop(no_data , inplace=True)
#tract_nrsa_data_initial.shape

In [12]:
#Drop redundant geographic columns, only need tracts
tracts_data_df = tracts_data_df.drop(columns = ["State",'Name','County'])

In [13]:
tracts_data_df.head()

,Poverty Population 2019,Population 2019,Median Income 2019,Number of Vacants 2019,Housing with Mortgage 2019,Housing without Mortgage 2019,Owner Occupied 2019,Renter Occupied 2019,Tract,Median Age 2019
0,940,3175,43958,75,234,226,1803,1372,042100,28.2
1,738,2395,35000,139,120,225,1076,1309,042400,33.6
2,344,2504,55521,41,450,218,1817,687,043700,34.8
3,0,0,-666666666,0,0,0,0,0,043804,-666666666.0
4,455,3179,36374,120,298,34,847,2313,044104,33.7

In [14]:
tracts_data_df['Tract']

0     042100
1     042400
2     043700
3     043804
4     044104
       ...
65    044703
66    044803
67    043803
68    044003
69    044601
Name: Tract, Length: 70, dtype: object

In [15]:
#Moving Tract column to first position in dataframe
tracts_data_df.insert(0, "Tract_ID", tracts_data_df['Tract'])
tracts_data_df = tracts_data_df.drop(columns = ['Tract'])

In [16]:
tracts_data_df.head()

,Tract_ID,Poverty Population 2019,Population 2019,Median Income 2019,Number of Vacants 2019,Housing with Mortgage 2019,Housing without Mortgage 2019,Owner Occupied 2019,Renter Occupied 2019,Median Age 2019
0,042100,940,3175,43958,75,234,226,1803,1372,28.2
1,042400,738,2395,35000,139,120,225,1076,1309,33.6
2,043700,344,2504,55521,41,450,218,1817,687,34.8
3,043804,0,0,-666666666,0,0,0,0,0,-666666666.0
4,044104,455,3179,36374,120,298,34,847,2313,33.7

In [17]:
#Selecting all except first column of data to change data type from string to float
tract_nrsa_clean = tracts_data_df[tracts_data_df.columns[1:]].astype('float64')
tract_nrsa_clean.insert(0, "Tract_ID", tracts_data_df['Tract_ID'])

In [18]:
#Making column to measure change in median income from 2015 to 2019
#tract_nrsa_clean['Change Median Income 2015-2019'] = tract_nrsa_clean['Median Income 2019'] - tract_nrsa_clean['Median Income 2015']
tract_nrsa_clean['Poverty Rate 2015'] = (tract_nrsa_clean['Poverty Population 2019']/tract_nrsa_clean['Population 2019']) * 100

In [19]:
#Total housing units
tract_nrsa_clean['Total Housing Units 2019'] = tract_nrsa_clean['Renter Occupied 2019'] + tract_nrsa_clean['Owner Occupied 2019']
tract_nrsa_clean['Total Mortgage Units'] = tract_nrsa_clean['Housing with Mortgage 2019'] + tract_nrsa_clean['Housing without Mortgage 2019']
tract_nrsa_clean['Percent Owner Occupied 2019'] = (tract_nrsa_clean['Owner Occupied 2019']/tract_nrsa_clean['Total Housing Units 2019']) * 100
tract_nrsa_clean['Vacancy Rate 2019'] = (tract_nrsa_clean['Number of Vacants 2019']/tract_nrsa_clean['Total Housing Units 2019']) * 100
tract_nrsa_clean['Percent Renter Occupied 2019'] = 100 - tract_nrsa_clean['Percent Owner Occupied 2019']
tract_nrsa_clean['Percent Mortgage 2019'] = (tract_nrsa_clean['Housing with Mortgage 2019']/tract_nrsa_clean['Total Mortgage Units']) * 100
tract_nrsa_clean['Percent Total Housing Units with Mortgage'] = (tract_nrsa_clean['Housing with Mortgage 2019']/tract_nrsa_clean['Total Housing Units 2019']) * 100

In [20]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)
tract_nrsa_clean.describe()

,Poverty Population 2019,Population 2019,Median Income 2019,Number of Vacants 2019,Housing with Mortgage 2019,Housing without Mortgage 2019,Owner Occupied 2019,Renter Occupied 2019,Median Age 2019,Poverty Rate 2015,Total Housing Units 2019,Total Mortgage Units,Percent Owner Occupied 2019,Vacancy Rate 2019,Percent Renter Occupied 2019,Percent Mortgage 2019,Percent Total Housing Units with Mortgage
count,70,70,70,70,70,70,70,70,70,63,70,70,63,63,63,63,63
mean,447,2355,-66625678,114,294,199,1395,940,-66666636,21,2336,493,59,6,41,54,11
std,364,1496,201457824,87,288,126,1109,699,201444072,14,1494,384,19,5,19,17,6
min,0,0,-666666666,0,0,0,0,0,-666666666,1,0,0,11,0,2,16,3
25%,168,1371,30896,44,75,122,520,537,29,9,1290,208,46,3,29,46,7
50%,346,2398,38704,101,264,193,1243,809,34,19,2394,445,60,5,40,56,10
75%,668,3219,54532,166,434,287,1949,1266,36,30,3171,698,71,8,54,67,17
max,1558,6670,113594,312,1440,522,5056,2865,48,63,6670,1826,98,24,89,90,23

In [21]:
tract_nrsa_clean.head(20)

,Tract_ID,Poverty Population 2019,Population 2019,Median Income 2019,Number of Vacants 2019,Housing with Mortgage 2019,Housing without Mortgage 2019,Owner Occupied 2019,Renter Occupied 2019,Median Age 2019,Poverty Rate 2015,Total Housing Units 2019,Total Mortgage Units,Percent Owner Occupied 2019,Vacancy Rate 2019,Percent Renter Occupied 2019,Percent Mortgage 2019,Percent Total Housing Units with Mortgage
0,042100,940,3175,43958,75,234,226,1803,1372,28,30,3175,460,57,2,43,51,7
1,042400,738,2395,35000,139,120,225,1076,1309,34,31,2385,345,45,6,55,35,5
2,043700,344,2504,55521,41,450,218,1817,687,35,14,2504,668,73,2,27,67,18
3,043804,0,0,-666666666,0,0,0,0,0,-666666666,nan,0,0,nan,nan,nan,nan,nan
4,044104,455,3179,36374,120,298,34,847,2313,34,14,3160,332,27,4,73,90,9
5,044302,111,1674,43355,146,268,210,1103,528,42,7,1631,478,68,9,32,56,16
6,040001,0,0,-666666666,0,0,0,0,0,-666666666,nan,0,0,nan,nan,nan,nan,nan
7,040300,382,1011,39475,38,62,141,690,321,35,38,1011,203,68,4,32,31,6
8,040400,411,1922,34554,210,182,285,1216,706,35,21,1922,467,63,11,37,39,9
9,044001,536,3641,56097,71,482,326,2154,1487,34,15,3641,808,59,2,41,60,13
10,042002,530,1577,32547,126,81,178,754,823,35,34,1577,259,48,8,52,31,5
11,040500,295,1989,43082,107,214,186,1108,881,30,15,1989,400,56,5,44,54,11
12,043903,669,2952,48000,154,321,274,1537,1415,30,23,2952,595,52,5,48,54,11
13,041000,686,1355,21221,140,54,118,432,923,27,51,1355,172,32,10,68,31,4
14,044500,669,2577,36875,203,292,208,1479,1098,33,26,2577,500,57,8,43,58,11
15,045000,576,3488,40671,312,427,359,1896,1592,31,17,3488,786,54,9,46,54,12
16,041300,1309,5292,35833,312,437,335,2422,2865,27,25,5287,772,46,6,54,57,8
17,041700,825,2787,32750,154,276,193,1734,1049,29,30,2783,469,62,6,38,59,10
18,042200,133,1966,37196,0,158,185,1176,785,34,7,1961,343,60,0,40,46,8
19,045100,665,2016,36364,119,75,67,332,1677,28,33,2009,142,17,6,83,53,4

In [22]:
tract_nrsa_clean.head()

,Tract_ID,Poverty Population 2019,Population 2019,Median Income 2019,Number of Vacants 2019,Housing with Mortgage 2019,Housing without Mortgage 2019,Owner Occupied 2019,Renter Occupied 2019,Median Age 2019,Poverty Rate 2015,Total Housing Units 2019,Total Mortgage Units,Percent Owner Occupied 2019,Vacancy Rate 2019,Percent Renter Occupied 2019,Percent Mortgage 2019,Percent Total Housing Units with Mortgage
0,042100,940,3175,43958,75,234,226,1803,1372,28,30,3175,460,57,2,43,51,7
1,042400,738,2395,35000,139,120,225,1076,1309,34,31,2385,345,45,6,55,35,5
2,043700,344,2504,55521,41,450,218,1817,687,35,14,2504,668,73,2,27,67,18
3,043804,0,0,-666666666,0,0,0,0,0,-666666666,nan,0,0,nan,nan,nan,nan,nan
4,044104,455,3179,36374,120,298,34,847,2313,34,14,3160,332,27,4,73,90,9

In [23]:
tract_nrsa_clean.to_csv (r'C:\Users\nareb\Desktop\NRSA_2019_Data.csv', index = False, header=True)

In [24]:
#Importing Tract geojson
import json

with open('Tract_2010.geojson') as f:
    data = json.load(f)

In [25]:
import dash
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px

df = tract_nrsa_clean
geojson = data
data_layer = nrsa_mapping_df.columns[1:]

app = JupyterDash(__name__)

app.layout = html.Div([
    html.P("NRSA Data"),
    dcc.RadioItems(
        id='nrsa_data', 
        options=[{'value': x, 'label': x} 
                 for x in data_layer],
        value=data_layer[0],
        labelStyle={'display': 'inline-block'}
    ),
    dcc.Graph(id="choropleth"),
])

@app.callback(
    Output("choropleth", "figure"), 
    [Input("nrsa_data", "value")])
def display_choropleth(nrsa_data):
    fig = px.choropleth(
        tract_nrsa_clean, geojson=data, color=nrsa_data,
        locations="Tract_ID", featureidkey="properties.TRACTCE10")
    fig.update_geos(fitbounds="locations", visible=True)
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    return fig

app.run_server(mode='inline', port = 8059)

ModuleNotFoundError: No module named 'retrying'

In [ ]:
from bokeh.io import output_notebook
from bokeh.plotting import figure, show
from bokeh.tile_providers import CARTODBPOSITRON, get_provider

output_notebook()

tile_provider = get_provider(CARTODBPOSITRON)

# range bounds supplied in web mercator coordinates
p = figure(x_range=(-1000000, 6000000), y_range=(-1000000, 7000000),
           x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(tile_provider)

show(p)

In [ ]:
import json

from bokeh.io import output_file, show
from bokeh.models import GeoJSONDataSource
from bokeh.plotting import figure
from bokeh.sampledata.sample_geojson import geojson

output_notebook()

#for i in range(len(data['features'])):
#    data['features'][i]['properties']['Color'] = ['blue', 'red'][i%2]

geo_source = GeoJSONDataSource(geojson=json.dumps(data))

#TOOLTIPS = [
#    ('Organisation', '@OrganisationName')
#]

tile_provider = get_provider(CARTODBPOSITRON)

# range bounds supplied in web mercator coordinates
p = figure(x_range=(-1000000, 6000000), y_range=(-1000000, 7000000),
           x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(tile_provider)

p.circle(x='x', y='y', size=15, color='Color', alpha=0.7, source=geo_source)

show(p)

In [ ]:
type(geo_source)

In [ ]:
type(data)